.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: lightblue;
}

a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    text-decoration: underline;
}


.img-thumbnail {
    height: 410px;
}

figure {
    display: flex;
    justify-content: center;
    /* display: block; */
    margin: 4rem;
}


img {
    vertical-align: middle;
    height: 410px;  //3406
    margin: 3rem;
}

img.img-fluid {
    width: 100%;
    
    height: 410px;
}

h3.Form {
    font-style: italic;
    text-align: center;
    font-size: 4rem;
    background-color: dimgray;
}
.form-check {
    background-color: lightblue;
}
h2.Login-Credientials {
    background-color: dimgray;
    text-align: center;
    font-size: 4rem;
    font-style: italic;
}


form {
    background-color: lightblue;
    font-size: 2rem;
    font-style: italic;
}